<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Stand-Up NOW | Club</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@900&family=Playfair+Display:ital@1&family=Poppins:wght@400;600&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/variables.css}">
    <link rel="stylesheet" th:href="@{/css/home.css}">
</head>
<body>
<div class="hero-wrapper">
    <h1 class="main-title">
        Stand-Up<br><span class="bold-highlight">NOW</span>
    </h1>

    <p class="tagline">Râzi acum și mâine</p>
    <div class="button-group">
        <a href="/login" class="btn-neon btn-login">Login</a>
        <a href="/register" class="btn-neon btn-register">Register</a>
    </div>
</div>
</div>
</body>
</html>